header{
	background-color: yellow;
	text-align: center;
}

body{
	background-color: gray;
}

a:visited{
	color:black;
}
a{
	color:black;
	text-decoration:none;
}
a :hover {
	cursor: pointer;
	background-color:orange;
}
nav {
	width: 100%;
	border: 5px solid #03224C;
}
nav :hover {
	cursor: pointer;
	background-color:orange;
}