@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

*{
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 1920px;
    max-height: 1080px;
}

#corpPage {
    margin-bottom: 5%;
}

/***************************************************** Nav ***********************************************/

#tetePage{
    color: white;
    font-family: 'Permanent Marker';
    margin-left: 30%;
    width: 40%;
    margin-top: 1.2%;
    margin-bottom: 5%;
}

#logodiv {
    display: inline-block;
    width: 20%;
}

#logo {
    max-height: 100%;
    max-width: 100%;
}

#titre {
    width: 50%;
    float: right;
    font-size: 3em;
    margin-right: 20%;
    margin-top: 4%;
}

/***************************************************** Section ***********************************************/

#Connexion, #CreationCompte {
    background-color: white;
    color: black;
    text-align: center;
    opacity: 0.8;
    border-radius: 10px;
}

#Connexion {
    width: 30%;
    margin-left: 15%;
    display: inline-block;
}

#CreationCompte {
    width: 30%;
    margin-right: 15%;
    float: right;
}

.enterResponsesDiv {
    width: 50%;
}

#InscriptionGerant {
    float: right;
}

#InscriptionMotard {
    display: inline-block;
}

/***#************************************************** CONNEXION ***********************************************/

section {
    width: 30%;
    margin-left: 35%;
    background-color: white;
    color: black;
    text-align: center;
    opacity: 0.8;
    border-radius: 10px;
    padding: 1%;
}

.enterResponses {
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
}

label {
    text-align: left;
}